<p>menu-lying-down works!</p>
<nav class="bg-blue-600 p-4">
  <ul class="flex justify-center space-x-8">
    <li>
      <a routerLink="/" routerLinkActive="font-bold text-white border-b-2 border-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-white hover:text-blue-200 transition duration-300 ease-in-out py-2">Inicio</a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="font-bold text-white border-b-2 border-white"
        class="text-white hover:text-blue-200 transition duration-300 ease-in-out py-2">Servicios</a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="font-bold text-white border-b-2 border-white"
        class="text-white hover:text-blue-200 transition duration-300 ease-in-out py-2">Contacto</a>
    </li>
  </ul>
</nav>
